@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');

.body {
    background-color: #080831;
    font-family: 'Tilt Neon', cursive;
}

.single-card .front {
   transform: rotateY(90deg);
   transition: all ease-in 0.2s;
}

.flipped .front {
   transform: rotateY(0deg);
   transition-delay: 0.2s;
}

.single-card .back {
    transition: all ease-in 0.2s;
    transition-delay: 0.2s;
}

.flipped .back {
    transform: rotateY(90deg);
    transition-delay: 0.2s;
} 




